<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="<%=url('/tool_show.css')%>" media="screen" title="no title" charset="utf-8">
    <title>Error</title>
  </head>
  <body>
    <div class="error_box">
      <h1 class="error">ERROR: Please select either "Yes" or "No" to "Is it available?"</h1>
      <br></br>
      <br></br>
  </div>
<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>Notes</th>
      <th>Available?</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%=@tool.product%></td>
      <td><%=@tool.notes%></td>
      <%if @tool.available%>
          <td>Yes</td>
      <%else%>
        <td>No</td>
        <%end%>
    </tr>
  </tbody>
</table>

<div class="edit_info">

<h1>EDIT INFORMATION</h1>

<form action="/tools" method="post">
  <label for="tool_product">Product: <input id="tool_product" type="text" name="tool[product]" value="<%=@tool.product%>"></label><br>
  <label for="tool_notes">Notes: <input id="tool_notes" type="text" name="tool[notes]" value="<%=@tool.notes%>"></label><br>
  <br></br>
  <label>Is it available?</label> <input type="checkbox" name="available" value="yes" <%='checked' if @tool.available%>><label> Yes  </label><input type="checkbox" name="not_available" value="no" <%='checked' if !@tool.available%>><label> No</label><br>
  <br></br>
  <label>If not available, who checked it out?</label><br>
  <br></br>
  <%if @company.employees.all.empty? == false %>
      <%@company.employees.all.each do |employee|%>
          <input type="checkbox" name="employee_name" value="<%=employee.name%>" <%='checked' if employee.tools.include?(@tool)%> ><label><%=employee.name%></label><br>
          <%end%>
        <%end%>
      <br></br>
  <input type="submit" name="submit" value="Edit Tool">
  <input type="hidden" name="tool_id" value="<%=@tool.id%>">
</form>
</div>

</body>
</html>
