<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
    <link rel="stylesheet" href="<%=url('/company_show.css')%>" media="screen" title="no title" charset="utf-8">
      <title><%=@company.name%></title>
  </head>
  <body>
    <div class="logout">

      <h3><a href="/logout">log out</a></h3>
  </div>
    <div class="title">
      <h1 id="title_heading">The <%=@company.name%> Equipment Tracker.</h1>
    </div>

<!-- CHECKED OUT TOOLS TABLE -->
    <div class="tool_list">
      <div class="table_title">
        <h2>CHECKED OUT TOOLS:
      </div>
      <table id="checked_out_tools">
        <thead>
          <tr>
            <th>Product</th>
            <th>Notes</th>
            <th>Checked Out By</th>
            <th>Edit</th>
          </tr>
        </thead>
        <%@company.tools.all.each do |tool|%>
        <%@employee = Employee.find_by_id(tool.employees.ids)%>
        <%if tool.available == false %>
            <tbody>
            <tr>
              <td><%=tool.product%></td>
              <td><%=tool.notes%></td>
              <%if !tool.employees.empty?%>
                <%x = tool.employees.size%>
                <%y = 1%>
                  <td><%tool.employees.each do |employee|%>
                    <%if y < x%>
                      <a href="/employees/<%="#{employee.slug}"%>"><%=employee.name%>, </a>
                      <%y+=1%>
                    <%else%>
                      <a href="/employees/<%="#{employee.slug}"%>"><%=employee.name%></a>
                    <%end%>
                <%end%></td>
              <%else%>
              <td>NA</td>
              <%end%>
              <td><a href="/tools/<%=tool.slug%>">edit</a></td>

              <%end%>
        <%end%>

          </tr>
        </tbody>
      </table>
      </h2>
    </div>

<!--AVAILABLE TOOLS TABLE -->

      <div class="tool_list">
        <div class="table_title">
          <h2 class="tools_heading">AVAILABLE TOOLS:
          </div>
          <table id="available_tools">
            <thead>
              <tr>
                <th>Product</th>
                <th>Notes</th>
                <th>Edit</th>
              </tr>
            </thead>
            <%@company.tools.all.each do |tool|%>
            <tbody>
            <tr>
              <%if tool.available == true %>
              <td><%=tool.product%></td>
              <td><%=tool.notes%></td>
              <td><a href="/tools/<%=tool.slug%>">edit</a></td>
              <%end%>
            <%end%>
              </tr>
            </tbody>
          </table>

          </h2>
      </div>

<!--CREATE NEW TOOL -->


<div class="center_row">
    <div class="add_equipment">
      <h1 id="add_tool">Add Tool:</h1>
      <form class="" action="/tools/new" method="post">
        <label for="product">Product: <input type="text" name="tool[product]" id="product"></label><br>
        <label for="notes">Notes: <input type="text" name="tool[notes]" id="notes"></label><br>
        <label for="category">Category: <input type="text" name="tool[category]" id="category"></label><br>
        <input type="hidden" name="[company_name]" value="<%=@company.name%>">
        <input type="hidden" name="tool[available]" value="true">
        <input type="submit" name="submit" value="Create Tool">
      </form>
      </div>

<!--CREATE NEW EMPLOYEE -->
      <div class="add_employee">
        <h1 id="add_employee">Add Employee:</h1>
        <form class="" action="/employees/new" method="post">
          <label for="first_name">First Name: <input type="text" name="employee[first_name]" id="first_name"></label><br>
          <label for="last_name">Last Name: <input type="text" name="employee[last_name]" id="last_name"></label><br>
          <label for="employee_contact">Contact: <input type="text" name="employee[contact_info]" id="contact_info"></label><br>
          <input type="hidden" name="company" value="<%=@company.name%>">
          <input type="submit" name="submit" value="Add Employee">
        </form>
        </div>
</div>

<div class="bottom-row">
<!--ALL TOOLS -->


          <div class="tool_list">
            <div class="table_title">
            <h2 class="tools_heading">ALL TOOLS:</h2>
            </div>
            <table id="checked_out_tools">
              <thead>
                <tr>
                  <th>Product</th>
                  <th>Notes</th>
                  <th>Available?</th>
                  <th>Edit</th>
                </tr>
              </thead>
              <%@company.tools.all.each do |tool|%>
              <tbody>
              <tr>
                <td><%=tool.product%></td>
                <td><%=tool.notes%></td>
                <%if tool.available == true%>
                  <td>Yes</td>
                <%else%>
                  <td>No</td>
                  <%end%>
                  <td><a href="/tools/<%=tool.slug%>">edit</a></td>
              <%end%>
            </h2>
                </tr>
              </tbody>
            </table>
          </div>


<!--ALL EMPLOYEES-->

            <div id="last_table" class="tool_list">
              <div class="table_title">
            <h2 class="tools_heading">ALL EMPLOYEES:</h2>
              </div>
              <table id="available_tools">
                <thead>
                  <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Contact</th>
                    <th>Edit</th>
                    <th>Tools</th>
                  </tr>
                </thead>
                <%@company.employees.all.each do |employee|%>
                <tbody>
                <tr>
                  <td><%=employee.first_name%></td>
                  <td><%=employee.last_name%></td>
                  <td><%=employee.contact_info%></td>
                  <td><a href="/employees/<%=employee.slug%>">edit</a></td>
                  <td>
                  <%if employee.tools.size == 1%>
                    <%employee.tools.each do |tool|%>
                      <%=tool.product%>
                      <%end%>
                  <%elsif employee.tools.size > 1%>
                        <%x = employee.tools.length%>
                        <% i = 1%>
                        <%employee.tools.each do |tool|%>
                          <%if i < x%>
                            <%=tool.product%>,
                            <%i+=1%>
                          <%else %>
                            <%=tool.product%>
                            <%end%>
                          <%end%>
                  <%else%>
                        None
                        <%end%>
                <%end%>
              </td>
              </h2>
                  </tr>
                </tbody>
              </table>
            </div>

</div>


  </body>
</html>
